:root{
  --primary: #050f1f;
  --secondary: #538daf;
  --secondaryLight: #83cdff;
  --secondaryDark: #052f4f;
  --danger: #611;
  --dangerLight: #955;
  --waiting: #611;
  --in: #116;
  --out: #161;
}

.App,html,body {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  object-fit: contain;
  pointer-events: none;
}

.App-logo-small {
  height: 50px;
  object-fit: contain;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

/*SCROLL*/
/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondaryDark);
  border-radius: 5px;
  border: solid 3px var(--primary);
  transition: all 500 ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

.screens{
  border-radius: 15px;
  border: solid 2px var(--secondary);
  margin: auto;
}

a{
  color: inherit;
  text-decoration: inherit;
}